<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vote for elections - Nervos</title>
    <base href="/" />
  </head>
  <body>
    <h1>Vote for elections - Nervos</h1>
    <div id="root"></div>
  </body>
</html>
